@charset "UTF-8";
:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --secondary-title-color: #303030;
  --first-btn-color: #ffffff;
  --secondery-btn-color: #303030;
  --accent-color: #ff6c00;
  --secondery-font-family: "Raleway", sans-serif;
  --tipycal-gap: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

/* a[href] {
  text-decoration: none;
} */
img {
  display: block;
  width: 100%;
}

input {
  background: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* stylelint-disable */
/************************************************************/
.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.top-text {
  display: flex;
  align-items: center;
  margin-bottom: var(--tipycal-gap);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.top-text::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--accent-color);
  /* background-color: currentColor; */
}

.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: var(--tipycal-gap);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 19px;
  color: var(--first-btn-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.title {
  margin-bottom: 44px;
  font-family: var(--secondery-font-family);
  font-size: 25px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 29, 29, 0.626);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 600px;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.modal-close:after {
  content: "X";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  line-height: 1;
  text-align: end;
  border: 1px solid red;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-right: 45px;
  margin-bottom: 40px;
  color: #fff;
}
.pagination p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
.pagination p:last-child {
  margin-left: 25px;
  text-align: right;
}
.pagination p::after {
  content: "";
  display: block;
  width: 57px;
  height: 1px;
  margin-top: 8px;
  background-color: #fff;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 1px;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* header ***************************************************************/
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .header__logo {
    fill: #303030;
    margin-right: 60px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.header-link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-btn-color);
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.connect {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    flex-direction: row;
    margin-top: 0;
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) {
  .connect__tel {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__tel {
    margin-top: 0;
    margin-right: 40px;
  }
}

.mob-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 118px 18px;
  width: calc(100% - 133px);
  height: 100vh;
  background-color: #fff;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
.mob-menu .mob-connect__btn {
  margin-top: 36px;
  margin-bottom: 76px;
  color: hsl(0deg, 0%, 19%);
}

.menu-close-btn {
  position: absolute;
  top: 48px;
  right: 31px;
  border: none;
  background-color: inherit;
}

.mob-menu-top {
  margin-bottom: 64px;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-list__link {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #303030;
}
.menu-list__link--current {
  color: var(--accent-color);
}

.is-hidden {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
}

/* hero ***************************************************************/
.soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .soc {
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
  }
}

.soc__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  transform-origin: top left;
  transform: rotate(-90deg) translateY(19px);
}

.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--secondery-btn-color);
  margin-right: 40px;
}

.soc-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondery-btn-color);
  transition: 0.3s;
}

.soc-list__link:hover,
.soc-list__link:focus {
  color: var(--accent-color);
}

/****************************************************************/
.hero .container {
  display: flex;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 0 15px;
  }
}

.hero-wrapper {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-3-mob.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-3-tab.jpg);
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-1.jpg);
  }
}

.hero-content {
  max-width: 306px;
  padding: 208px 0 183px 31px;
}
@media screen and (min-width: 768px) {
  .hero-content {
    max-width: 349px;
    padding: 280px 0 234px 70px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    max-width: 400px;
    padding: 272px 452px 206px 96px;
  }
}

.hero-content__top-text {
  margin-bottom: var(--tipycal-gap);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-content__title {
  margin-bottom: var(--tipycal-gap);
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: var(--first-btn-color);
}
@media screen and (min-width: 768px) {
  .hero-content__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content__title {
    font-size: 72px;
  }
}

.hero-after-title {
  max-width: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #9da4bd;
}
@media screen and (min-width: 1200px) {
  .hero-after-title {
    font-size: 18px;
    line-height: 30px;
  }
}

/* about ***************************************************************/
.about__container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .about__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /*!!!!*/
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.about-pre-title .title {
  color: #303030;
  margin-bottom: 20px;
}

.about-content__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-after-title {
  color: #555555;
  margin-bottom: var(--tipycal-gap);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__button-tex {
  color: var(--secondery-btn-color);
}

/* prices ***************************************************************/
.prices {
  /* max-width: 1280px;
  margin: 0 auto; */
  background-color: #111319;
  background-image: url(../img/prices/bg.png);
  /* linear-gradient(#111319, #111319); */
  background-position: top center;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  color: var(--first-title-color);
}

.prices-wrapper {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .prices-wrapper {
    padding: 30px 40px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-wrapper {
    display: flex;
  }
}

.prices-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .prices-list {
    flex-grow: 1;
    padding: 30px 40px;
  }
  .prices-list:nth-child(1) {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices-list:nth-child(2) {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: var(--tipycal-gap);
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .prices-item-text {
    font-size: 18px;
  }
}

.prices-item:after {
  content: "";
  /* display: block;
  position: relative;
  top: 20px; */
  height: 1px;
  margin: 0 6px;
  background-color: #9da4bd;
  flex-grow: 1;
}

.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  display: block;
  color: var(--first-btn-color);
  margin: 0 auto;
}

/* reason ***************************************************************/
.reasons .container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .reasons .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .resons-blok,
.reasons-content {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 768px) {
  .resons-blok {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .resons-blok {
    display: flex;
    justify-content: center;
  }
}

.reasons-list {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .reasons-list {
    max-width: 450px;
  }
}

.reasons-item {
  max-width: 114px;
  height: 133px;
  padding: 15px 0;
  background-color: #f7f7f7;
}
.reasons-item:nth-child(odd) {
  margin-right: 30px;
}
.reasons-item:nth-child(even) {
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .reasons-item {
    max-width: 193px;
    padding: 20px 32px;
  }
}
@media screen and (min-width: 768px) {
  .reasons-item {
    max-width: 210px;
    padding: 20px 40px;
  }
}

.reasons-item-count {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.reasons-item-count::after {
  content: "+";
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  text-align: center;
}

.reasons-content {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .reasons-content {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-content {
    padding-top: 9px;
  }
}

.reasons-pre-title {
  color: #303030;
}

.rasons-title {
  font-size: 42px;
  color: var(--secondary-title-color);
  margin-bottom: 20px;
}

.reasons-after-title {
  color: #555555;
  margin-bottom: 0;
}

/* masters ***************************************************************/
.masters {
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .masters .container {
    padding: 0 159px;
  }
}
@media screen and (min-width: 1200px) {
  .masters .container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .masters-list {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-wrap: wrap;
  }
}

.masters-item img {
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .masters-item:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.masters-item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters-item-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #303030;
  transition: 0.3s;
}

.masters-soc-link:hover,
.masters-soc-link:focus {
  fill: var(--accent-color);
  /*зпрацює тільки з кольором*/
}

/* .masters-soc-icon {
  fill: currentColor;
} */
/* .masters-soc-link:hover .masters-soc-icon {
  fill: teal;
} */
/* gallery ***************************************************************/
.gallery-pre-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  /* margin-left: -30px;
  margin-bottom: -30px; */
}

.gallery-item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

/* form ***************************************************************/
.section-wrap {
  background-color: #191c26;
  background-image: url(../img/contact/Bg-mob.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .section-wrap .container {
    display: flex;
  }
}

.form {
  width: calc(50% + 15px);
  padding: 130px 40px 130px 0;
  /* background-color: teal; */
}

.form-title {
  color: var(--first-title-color);
}

/* contact ***************************************************************/
.contact-title {
  color: var(--first-title-color);
}

.contact-address {
  max-width: 270px;
  font-style: normal;
  margin-bottom: 70px;
}

.contact-item {
  margin-bottom: var(--tipycal-gap);
}

.contact-link {
  display: flex;
  align-items: center;
}

.contact-item:first-child .contact-link::before {
  content: "";
  position: relative;
  top: -15px;
  width: 28px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../img/contact/map-pin.svg);
}

.contact-item:nth-child(2) .contact-link::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../img/contact/phone.svg);
}

.contact-item:last-child .contact-link::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../img/contact/mail.svg);
}

.contact-item {
  margin-bottom: var(--tipycal-gap);
}

.contact-item {
  margin-bottom: var(--tipycal-gap);
}

.contact-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9ca4bd;
}

.contact-time-title {
  display: flex;
  margin-bottom: var(--tipycal-gap);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.contact-time-title.pre-title::before {
  width: 60px;
  background-color: #9ca4bd;
}

.contact-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9ca4bd;
}

/* footer ***************************************************************/
.footer-copy {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-text span {
  margin-right: 6px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .footer-list {
    display: flex;
  }
}

.footer-item {
  margin-left: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */