html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* ul {
  padding: 0;
  margin: 0;
} */

/* a[href] {
  text-decoration: none;
} */
img {
  display: block;
}
/* .list {
  list-style: none;
} */
.link {
  text-decoration: none;
}
