.footer-copy {
  // padding-top: 57px;
  // padding-bottom: 55px;
  padding-top: 44px;
  padding-bottom: 44px;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
.footer-text span {
  margin-right: 6px;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}
.footer-list {
  @include mobile {
    display: flex;
  }
}

.footer-item {
  margin-left: 40px;
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #303030;
}
