.gallery {
}
.gallery-pre-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  /* margin-left: -30px;
  margin-bottom: -30px; */
}
.gallery-item {
  flex-basis: 100%;
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
  // width: calc(100% / 4 - 30px);
  //  margin-left: 30px;
  // margin-bottom: 30px; 
}
