.header {
  position: absolute;
  width: 100%;

  z-index: 10;
  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }
  @include desktop {
    padding-top: 32px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  fill: #fff;
  // margin-right: 70px;
  @include tablet {
    fill: #303030;
    margin-right: 60px;
  }
}
.navigation {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }
}
.menu__list {
  @include tablet {
    display: flex;
    column-gap: 24px;
  }
}

.header-link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-btn-color);

  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.connect {
  display: none;
  margin-left: auto;
  // margin-right: 4px;
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
  }
  @include desktop {
    flex-direction: row;
    margin-top: 0;
    margin-right: 4px;
  }
}

.connect__tel {
  @include tablet {
    margin-top: 20px;
  }
  @include desktop {
    margin-top: 0;
    margin-right: 40px;
  }
}
