.reasons .container {
  display: flex;
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}
.resons-blok,
.reasons-content {
  @include desktop {
    width: calc(50% - 15px);
  }
}
.resons-blok {
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.reasons-list {
  max-width: 400px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  @include mobile {
    max-width: 450px;
  }
}

.reasons-item {
  max-width: 114px;
  height: 133px;
  padding: 15px 0;

  background-color: #f7f7f7;

  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
  @include mobile {
    max-width: 193px;
    padding: 20px 32px;
  }
  @include tablet {
    max-width: 210px;
    padding: 20px 40px;
  }
}

.reasons-item-count {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.reasons-item-count::after {
  content: "+";
  display: inline-block;
  vertical-align: top;

  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  text-align: center;
}

.reasons-content {
  margin-bottom: 44px;
  @include tablet {
    max-width: 500px;
  }
  @include desktop {
    padding-top: 9px;
  }
}
.reasons-pre-title {
  color: #303030;
}
.rasons-title {
  font-size: 42px;
  color: var(--secondary-title-color);
  margin-bottom: 20px;
}
.reasons-after-title {
  color: #555555;

  margin-bottom: 0;
}
