



.top-text {
  display: flex;
  align-items: center;

  margin-bottom: var(--tipycal-gap);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.top-text::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--accent-color);
  /* background-color: currentColor; */
}

.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: var(--tipycal-gap);
}

@import "./btn";
