.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  padding: 12px 19px;
  color: var(--first-btn-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;

  transition: background-color 300ms linear, color 300ms linear;

  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: inherit;
  border: none;
  overflow: hidden;

  @include tablet {
    display: none;
  }
}
