.title {
  margin-bottom: 44px;
  font-family: var(--secondery-font-family);
  font-size: 25px;
  // font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--secondary-title-color);
}
