body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  overflow-x: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
